<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% include "navbar.html" %}
    </head>
    <body>
        <h1>Delete Company</h1>
        <form action="{{ url_for('deleteRecord') }}" method="post">
            <div class="form-group col-sm-6">
                <select class="mdb-select md-form" searchable="Search Name" name="data">
                    <option value="" disabled selected>Select Company Name</option>
                    {% for company in companyList %}
                    <option value="{{company.id}}">{{company.company}}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="padding: 30px;">
                <button type="submit" class="btn btn-primary col-sm-5">Delete</button>
            </div> 
        </form>
    </body>
</html>